.item {
    padding: 5px;
}

.item a {
    color: black;
    text-decoration: none;
    border-radius: 200px 200px 200px;
    background: lightskyblue;
    padding: 15px;
    width: 600px;
    height: 10px;
}