.navbar {
    grid-area: n;
    background-color: gainsboro;
    padding: 20px;
    height: 1148px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: royalblue;
}